=======================================================================================================================================================

Final Project

Nama  : Tim 2 (Achmad Nauvaldi, Rizqia Dewi Annisa, Sinthiya Kusuma Nagari, Trielianto Stanislaus Kanopi)

Batch : FTDS HCK-010

Program ini dibuat untuk melakukan automatisasi transform dan load data dari PostgreSQL ke ElasticSearch. Adapun dataset yang dipakai adalah dataset hasil scrapping stockbit Kompas100 dari tahun 2021 - 2023.

========================================================================================================================================================

In [19]:
from sklearn.preprocessing import LabelEncoder

In [20]:
# import libraries
import great_expectations as gx
import pandas as pd
from great_expectations.checkpoint import Checkpoint

In [21]:
# mendefine environmet mengambil context di environtment gx
context = gx.get_context()

In [22]:
# mendefine datasource
datasource = context.sources.add_pandas(name="datasource1")

In [23]:
# membaca data csv
df=pd.read_csv('data\FP_tim-2_data_clean.csv')
df.head()

,Unnamed: 0,company_id,mean_share_outstanding,mean_eps,mean_pe_ratio,mean_price_to_sales,mean_ebitda,mean_return_on_assets,mean_return_on_equity,mean_return_on_capital_employed,mean_interest_coverage,one_week,three_month,one_month,six_month,one_year,three_year,cluster,price
0,0,0,1.920000e+09,212.479091,53.521818,3.116364,9.314536e+11,0.013664,0.019727,0.023236,6.880909,0.0070,-0.0271,0.000141,-0.0860,-0.1031,-0.4481,1,7125
1,1,1,1.715000e+10,9.830000,133.418182,9.475455,3.324882e+11,0.022945,0.030200,0.033509,16.742727,0.0769,-0.0128,0.001079,0.0845,0.5975,-0.5722,0,765
2,2,2,5.323636e+09,2.850909,627.220909,1.078182,3.662627e+11,0.000364,0.002145,0.027555,1.543636,-0.0189,-0.3276,-0.001086,-0.3128,-0.2500,-0.8102,2,308
3,3,3,3.199000e+10,202.015455,15.985455,3.502727,1.201746e+13,0.048191,0.081745,0.095600,30.070000,0.0207,-0.1151,-0.000391,0.0165,-0.2166,0.7024,1,2430
4,4,4,2.314364e+10,-12.420000,1085.428182,68.581818,3.369000e+10,-0.014464,-0.110391,-0.012736,0.000000,-0.0061,0.1631,0.001233,-0.1961,-0.1183,-0.7264,2,328

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 19 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Unnamed: 0                       100 non-null    int64
 1   company_id                       100 non-null    int64
 2   mean_share_outstanding           100 non-null    float64
 3   mean_eps                         100 non-null    float64
 4   mean_pe_ratio                    100 non-null    float64
 5   mean_price_to_sales              100 non-null    float64
 6   mean_ebitda                      100 non-null    float64
 7   mean_return_on_assets            100 non-null    float64
 8   mean_return_on_equity            100 non-null    float64
 9   mean_return_on_capital_employed  100 non-null    float64
 10  mean_interest_coverage           100 non-null    float64
 11  one_week                         100 non-null    float64
 12  three_month                      100 non-null    float64
 13  one_month                        100 non-null    float64
 14  six_month                        100 non-null    float64
 15  one_year                         100 non-null    float64
 16  three_year                       100 non-null    float64
 17  cluster                          100 non-null    int64
 18  price                            100 non-null    int64
dtypes: float64(15), int64(4)
memory usage: 15.0 KB

In [25]:
#mendefine nama, data asset, dan my batch request
name = "Clustering"
data_asset = datasource.add_dataframe_asset(name=name)
my_batch_request = data_asset.build_batch_request(dataframe=df)

In [26]:
# Membuat expectation suite
expectation_suite_name = 'expectation-clustering-dataset'
context.add_or_update_expectation_suite(expectation_suite_name)

# Membuat  validator menggunakan expectation suite di atas
validator = context.get_validator(
    batch_request = my_batch_request,
    expectation_suite_name = expectation_suite_name
)

# Check tvalidator
validator.head()

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

,Unnamed: 0,company_id,mean_share_outstanding,mean_eps,mean_pe_ratio,mean_price_to_sales,mean_ebitda,mean_return_on_assets,mean_return_on_equity,mean_return_on_capital_employed,mean_interest_coverage,one_week,three_month,one_month,six_month,one_year,three_year,cluster,price
0,0,0,1.920000e+09,212.479091,53.521818,3.116364,9.314536e+11,0.013664,0.019727,0.023236,6.880909,0.0070,-0.0271,0.000141,-0.0860,-0.1031,-0.4481,1,7125
1,1,1,1.715000e+10,9.830000,133.418182,9.475455,3.324882e+11,0.022945,0.030200,0.033509,16.742727,0.0769,-0.0128,0.001079,0.0845,0.5975,-0.5722,0,765
2,2,2,5.323636e+09,2.850909,627.220909,1.078182,3.662627e+11,0.000364,0.002145,0.027555,1.543636,-0.0189,-0.3276,-0.001086,-0.3128,-0.2500,-0.8102,2,308
3,3,3,3.199000e+10,202.015455,15.985455,3.502727,1.201746e+13,0.048191,0.081745,0.095600,30.070000,0.0207,-0.1151,-0.000391,0.0165,-0.2166,0.7024,1,2430
4,4,4,2.314364e+10,-12.420000,1085.428182,68.581818,3.369000e+10,-0.014464,-0.110391,-0.012736,0.000000,-0.0061,0.1631,0.001233,-0.1961,-0.1183,-0.7264,2,328

In [28]:
# Expectation 1 : Kolom `company_id` harus unik

validator.expect_column_values_to_be_unique('company_id')

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 100,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [29]:
# Expectation 2 : Column `cluster` memiliki 3 data unique (0,1, dan 2)

validator.expect_column_values_to_be_between(
    column='cluster', min_value=0, max_value=2
)

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 100,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [33]:
# Expectation 3: Kolom cluster hanya bisa terisi dengan: "0" ,"1", "2"
validator.expect_column_values_to_be_in_set("cluster",["0","1","2"])

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": false,
  "result": {
    "element_count": 100,
    "unexpected_count": 100,
    "unexpected_percent": 100.0,
    "partial_unexpected_list": [
      1,
      0,
      2,
      1,
      2,
      0,
      1,
      2,
      1,
      2,
      0,
      2,
      0,
      0,
      0,
      0,
      2,
      0,
      0,
      2
    ],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 100.0,
    "unexpected_percent_nonmissing": 100.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [30]:
# Expectation 4: Kolom sleep_in_hours harus memiliki tipe integer, tidak boleh bertipe object
validator.expect_column_values_to_be_in_type_list('price', ['int64'])

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "observed_value": "int64"
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [34]:
# Expectation 5: Jumlah panjang karakter daru kolom id harus berjumlah 12
validator.expect_column_value_lengths_to_equal(column='cluster', value=1)

Calculating Metrics:   0%|          | 0/9 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 100,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [32]:
# Expectation 6: nilai pada kolom total_cholesterol_value harus lebih besar dari hdl_cholesterol_value
validator.expect_column_pair_values_a_to_be_greater_than_b(column_A="mean_return_on_capital_employed", column_B="mean_return_on_equity", or_equal=True)

Calculating Metrics:   0%|          | 0/7 [00:00<?, ?it/s]

{
  "success": false,
  "result": {
    "element_count": 100,
    "unexpected_count": 32,
    "unexpected_percent": 32.0,
    "partial_unexpected_list": [
      [
        0.0401636363636363,
        0.0463454545454545
      ],
      [
        0.0327090909090908,
        0.0374181818181818
      ],
      [
        0.0097636363636363,
        0.0474636363636363
      ],
      [
        0.0052272727272727,
        0.0313636363636363
      ],
      [
        0.0087,
        0.0416363636363636
      ],
      [
        0.0023363636363636,
        0.030390909090909
      ],
      [
        0.0048545454545454,
        0.0147545454545454
      ],
      [
        0.0039727272727272,
        0.0387545454545454
      ],
      [
        0.0047272727272727,
        0.0346818181818181
      ],
      [
        0.0074818181818181,
        0.0464272727272727
      ],
      [
        0.0052454545454545,
        0.0288090909090909
      ],
      [
        0.0026999999999999,
        0.0130363636363636
      ],
      [
        0.0144636363636363,
        0.0152090909090909
      ],
      [
        0.0055818181818181,
        0.0202454545454545
      ],
      [
        0.0366818181818181,
        0.0393545454545454
      ],
      [
        0.0325090909090909,
        0.0455090909090909
      ],
      [
        0.0323363636363636,
        0.0373818181818181
      ],
      [
        0.045990909090909,
        0.063790909090909
      ],
      [
        0.0162727272727272,
        0.0396727272727272
      ],
      [
        0.035690909090909,
        0.0536090909090909
      ]
    ],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 32.0,
    "unexpected_percent_nonmissing": 32.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [31]:
# Expectation 5: Column blood_pressure must have non-null values

validator.expect_column_values_to_not_be_null('mean_share_outstanding')

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 100,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [35]:
# Simpan ke Expectation Suite
validator.save_expectation_suite(discard_failed_expectations=False)

In [36]:
# Checkpoint
checkpoint = context.add_or_update_checkpoint(
    name='checkpoint',
    validator=validator
)

In [37]:
# hasil cek point
checkpoint_result = checkpoint.run()

Calculating Metrics:   0%|          | 0/39 [00:00<?, ?it/s]

In [38]:
# Membuat data docs
context.build_data_docs()

{'local_site': 'file://C:\\Users\\RIZQIA~1\\AppData\\Local\\Temp\\tmphff16957\\index.html'}

Apabila ingin melihat rincian keberhasilan untuk setiap expectation dapat menuju halaman berikut 

{'local_site': 'file://C:\\Users\\RIZQIA~1\\AppData\\Local\\Temp\\tmphff16957\\index.html'}